@using ClientDx.Models.Dtos.Supplier
@using DevExtreme.AspNet.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="data-grid-demo">
    @(Html.DevExtreme().DataGrid<GetSupplier>()
        .ID("gridContainer")
        .ShowBorders(true)
        .Paging(p => p.Enabled(false))
        .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowUpdating(true)
        .AllowAdding(true)
        .AllowDeleting(true)
        .Popup(p => p
        .Title("Employee Info")
        .ShowTitle(true)
        .Width(700)
        .Height(525)
        )
        .Form(f => f.Items(items =>
        {
            items.AddGroup()
            .ColCount(2)
            .ColSpan(2)
            .Items(groupItems =>
            {
                groupItems.AddSimpleFor(m => m.Id);
                groupItems.AddSimpleFor(m => m.Name)
            .ColSpan(2)
            .Editor(editor => editor.TextArea().Height(100));
            });

            items.AddGroup()
            .Caption("Home Address")
            .ColCount(2)
            .ColSpan(2)
            .Items(groupItems =>
            {
                groupItems.AddSimpleFor(m => m.Id);
                groupItems.AddSimpleFor(m => m.Name);
            });
        }))
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.Id)
            .Width(70);

            columns.AddFor(m => m.Name);

        })
        .DataSource(d => d.Mvc()
        .Controller("Supplier")
        .LoadAction("Get")

        .InsertAction("Post")

        .Key("Id")
        )
        )
</div>
