@* @using Client.Models.Dtos.Category
@using Client.Models.ViewModels
@{
    var role = ViewData["role"] as SideBarViewModel;
}

@{
    ViewData["Title"] = "Category Menu";
    var categories = ViewData["CategoriMenu"] as List<GetCategory>;
}

@if(role.RoleId=="3")
{
    <h2>@ViewData["Title"]</h2>

    <ul>
        @foreach (var category in categories)
        {
            <li>
                <h3>@category.Name</h3>
                @if (category.PictureBase64 != null)
                {
                    <img src="data:image/png;base64,@category.PictureBase64" alt="@category.Name" />
                }
            </li>
        }
    </ul>
} *@